@font-face {
    font-family: SanFranciscoBold;
    src: url(./assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SanFranciscoRoundedBold;
    src: url(./assets/fonts/SF-Pro-Rounded-Bold.otf);
}

@font-face {
    font-family: SanFranciscoRoundedMedium;
    src: url(./assets/fonts/SF-Pro-Rounded-Medium.otf);
}

@font-face {
    font-family: SanFranciscoRoundedRegular;
    src: url(./assets/fonts/SF-Pro-Rounded-Regular.otf);
}

@font-face {
    font-family: SanFranciscoRoundedLight;
    src: url(./assets/fonts/SF-Pro-Rounded-Light.otf);
}

@font-face {
    font-family: CreatoMedium;
    src: url(assets/fonts/CreatoDisplay-Medium.otf);
}

@font-face{
    font-family: CreatoLight;
    src: url(assets/fonts/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: FiraSansRegular;
    src: url(assets/fonts/FiraSans-Regular.ttf);
}

::selection {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

#body-container {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    overflow: scroll;
    cursor: url('./assets/images/icons8-cursor-32.png'), auto;
}

button, i, a{
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.container {
    width: 50%;
    height: auto;
    margin: 32%;
    margin-top: 10%;
    margin-bottom: 20%; 
}

.form-container {
    width: 100%;
    padding: 12px;
}

.profile-container {
    width: 80%;
    display: flex;
}

.profile-picture {
    width: 100px;
    height: 100px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-details {
    padding: 10px 0px 0px 20px;
    /* border: #000000 2px solid; */
}

.profile-name {
    font-family: SanFranciscoBold;
    font-size: 24px;
    padding-bottom: 4px;
    /* border: #000000 2px solid; */
}

.profile-designation {
    font-family: CreatoMedium;
    font-weight: 200;
    color: rgb(65, 63, 66, 0.6);
    font-size: 14px;
    padding-bottom: 10px;
    /* border: #000000 2px solid; */
}

.profile-site {
    font-family: SanFranciscoRoundedRegular;
    font-size: 14px;
    margin-left: -8px;
    padding: 4px 10px 4px 10px;
    color: #000000;
    background-color: rgba(104, 109, 118, 0.2);
    border-radius: 20px;
    text-decoration: none;
}

.response-container {
    width: 80%;
    margin-top: 24px;
    position: relative;
}

.response-holder {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    padding: 30px;  
    border-radius: 30px;
}

.response-headline {
    font-family: SanFranciscoRoundedBold;
    font-size: 16px;
    margin-bottom: 12px;
    padding-left: 12px;
}

.response-elements {
    display: flex;
}

.response-input {
    border-radius: 20px;
    width: 60%;
    padding: 8px 48px 8px 14px;
    font-family: SanFranciscoRoundedMedium;
    font-size: 14px;
    border: 0px;
    background-color: rgba(104, 109, 118, 0.1);
    cursor: text;
}

.response-input::selection{
    background-color: rgb(17, 17, 17);
    color: #ffffff;
}

.email-input {
    margin-bottom: 12px;
    width: 40%;
    flex-wrap: nowrap;
}

.response-send {
    margin-left: -40px;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
}

#response-icon {
    font-size: 16px;
}

.response-rocket{
    animation: rocketFire forwards 3s;
}

@keyframes rocketFire {
    0%{
        margin-left: 0px;
        margin-top: 0px;
    }

    100%{
        margin-left: 700px;
        transform: translateY(-800px);
    }
}

.emoji-container {
    display: flex;
    padding: 1px 0px 0px 20px;
}

.emoji-button {
    font-size: 20px;
    background-color: transparent;
    border: 0px;
}

.emoji {
    position: absolute;
    font-size: 2em;
    opacity: 0;
    animation: confetti-fall 2s linear forwards;
}

@keyframes confetti-fall {
    0% {
        opacity: 1;
        transform: translateY(-100%) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(100vh) rotate(720deg);
    }
}

.side-container {
    width: 100%;
    padding: 12px;
    margin-top: 50px;
    /* border: #000000 2px solid; */
}

.headline {
    font-family: SanFranciscoRoundedBold;
    font-size: 20px;
    margin-bottom: 12px;
    /* border: #000000 2px solid; */
}

.timeline-container {
    display: flex;
    margin-bottom: 30px;
    padding-top: 20px;
}

.timeline {
    font-family: CreatoMedium;
    color: rgb(65, 63, 66, 0.6);
    font-size: 16px;
}

.caption-container {
    padding-left: 40px;
    /* border: #000000 2px solid; */
}

.caption {
    font-family: CreatoMedium;
    font-size: 16px;
    margin-bottom: 10px;
    /* border: #000000 2px solid; */
}

.list-container {
    display: flex;
    margin-left: 20px;
}

.lists {
    margin-bottom: 12px;
    margin-right: 44px;
    list-style-type: disc;
}

.media-container{
    display: flex;
    justify-content: space-around;
    width: 180px;
    margin-left: 340px;
    margin-top: 60px;
}

#insta-icon{
    font-size: 34px;
    color: #000000;
    transition: 0.3s linear;
}

#insta-icon:hover{
    font-size: 44px;
    transition: 0.3s linear;
    color: transparent;
    background-image: linear-gradient(to top, #f9ce34 0%, #ee2a7b 50%, #6228d7 100%);
    background-clip: text;
}

#in-icon{
    font-size: 34px;
    color: #000000;
    transition: 0.3s linear;
}

#in-icon:hover{
    font-size: 44px;
    transition: 0.3s linear;
    color: #0E46A3;
}

#resume-icon{
    font-size: 34px;
    color: #000000;
    transition: 0.3s linear;
}

#resume-icon:hover{
    font-size: 44px;
    transition: 0.3s linear;
    color: orange;
}

#x-icon{
    font-size: 34px;
    color: #000000;
    transition: 0.3s linear;
}

#x-icon:hover{
    font-size: 44px;
    transition: 0.3s linear;
    color: #5AB2FF;
}


@media (max-width: 1536px){}

@media (max-width: 1280px){
    .container{
        margin: 32%;
        margin-top: 10%;
        margin-bottom: 20%;
        width: 60%;
    }

    .caption-container{
        margin-left: 50px;
    }
}

@media (max-width: 1024px){
    .container{
        margin: 25%;
        margin-top: 10%;
        margin-bottom: 20%;
        width: 65%;
    }

    .response-holder{
        width: 95%;
    }
}

@media (max-width: 768px){
    .container{
        margin: 20%;
        margin-top: 10%;
        margin-bottom: 20%;
        width: 80%;
    }

    .press{
        line-height: 1.5;
    }
    
    .media-container{
        margin-left: 300px;
    }
}

@media (max-width: 640px){
    .container{
        margin: 10%;
        margin-top: 10%;
        margin-bottom: 20%;
        width: 90%;
    }
        
    .media-container{
        margin-left: 240px;
    }
}

@media (max-width: 475px){

    .response-elements{
        display: block;
        /* margin-left: 12px; */
    }

    .emoji-container{
        margin-top: 12px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        padding-left: 0px;
    }

    .response-input{
        width: 70%;
        height: 60px;
    }

    .email-input{
        height: 20px;
    }

    .response-holder{
        padding-left: 32px;
    }

    .profile-photo{
        height: 80px;
        width: 80px;
    }

    .profile-details{
        width: 100%;
    }

    .profile-designation, .profile-site{
        font-size: 12px;
        letter-spacing: 2 !important;
        width: 120%;
    }

    .profile-name{
        /* border: 2px solid #000; */
        font-size: 20px;
        padding-bottom: 6px;
    }

    .container{
        margin: 5%;
        margin-top: 10%;
        margin-bottom: 20%;
        width: 95%;
    }

    .headline{
        font-size: 18px;
    }

    .caption, .timeline{
        font-size: 14px;
    }

    .caption-container{
        margin-left: 20px;
    }
    
    .media-container{
        margin-left: 200px;
        margin-top: 30px;
    }
}

@media (max-width: 360px){
    .profile-name{
        /* border: 2px solid #000; */
        width: 110%;
    }

    .profile-designation{
        width: 130%;
    }

    .profile-details{
        padding-left: 10px;
    }
    
    .email-input{
        width: 70%;
    }

    .response-container{
        /* border: 2px solid #000; */
        margin-right: 0px;
    }

    .container{
        margin: 0px;
        margin-top: 10%;
        margin-bottom: 30%;
        width: 100%;
        /* border: 2px solid #000; */
    }

    .media-container{
        margin-left: 150px;
        margin-top: 10px;
    }
}
