@font-face {
    font-family: SanFranciscoBold;
    src: url(./assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SanFranciscoRoundedBold;
    src: url(./assets/fonts/SF-Pro-Rounded-Bold.otf);
}

@font-face {
    font-family: SanFranciscoRoundedMedium;
    src: url(./assets/fonts/SF-Pro-Rounded-Medium.otf);
}

@font-face {
    font-family: SanFranciscoRoundedRegular;
    src: url(./assets/fonts/SF-Pro-Rounded-Regular.otf);
}

@font-face {
    font-family: Francy;
    src: url(./assets/fonts/Francy.ttf);
}

body{ 
    /* background-color: #42BBFF; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2356c4ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2369ccff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%237dd4ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2390dcff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23A4E3FF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23b6e9ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23c8eeff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23dbf4ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23edf9ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    /* background-image: linear-gradient( 291.7deg,  rgba(255,134,134,1) 21.5%, rgba(249,141,255,1) 93.1% ); */
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);  */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background: #eacda3;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #d6ae7b, #eacda3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    /* -webkit-overflow-scrolling: touch; */
    /* scrollbar-width: 0; */
    /* -ms-overflow-style: none; */
    overflow: hidden;
    cursor: url('./assets/images/icons8-cursor-32.png'), cell;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
}

::selection{
    background-color:  rgba(255,134,134,1);
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    margin: 0;
    padding: 0;
}

.hideContents {
    display: none; /* Or any other property to hide the content */
}


.topContainer{
    /* border: solid 2px #000; */
    margin: 0;
    /* top: -0px; */
    z-index: 2;
    overflow: hidden;
    height: 90px;
    padding-top : 10px;
}

.leftTopContainer{
    display: inline-block;
    width: 60%;
    /* border: #000 solid 2px; */
}

.nameSet{
    display: inline-block;
    /* border: #000 solid 2px; */
}

.name{
    display: inline-block;
    font-family: SanFranciscoBold;
    margin-left: 40px;
    /* border: #000 solid 2px; */
    /* font-size: 32px; */
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.name a{
    color: black;
    text-decoration: none;
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.name:hover{
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.rightTopContainer{
    display: inline-flex;
    width: 35%;
    height: 80px;
    /* bottom: 20px; */
    /* border: #000 solid 2px; */
    justify-content: space-evenly;
}

.otherPages {
    display: inline-block;
    font-family: SanFranciscoRoundedBold; 
    font-size: 22px;
    position: relative;
    /* cursor: pointer; */
    color: black;
    transition: color 0.3s ease;
    /* border: #000 solid 2px; */
    height: 28px;
    text-decoration: none;
}

.otherPages::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.otherPages:hover {
    color: black; /* This line can be used to change text color on hover if needed */
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.otherPages:hover::after {
    transform: scaleX(1);
}

.bottomContainer{
    padding: 40px;
    /* display: "relative"; */
    justify-content: center;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 62px); */
    /* background-color: pink; */
}

.bottomContainerAnimation{
    animation: zoomInOut 0.5s forwards linear;
}

@keyframes zoomInOut{
    0%{transform: scale(1);}

    50%{transform: scale(0.95);}

    100%{transform: scale(1);}
}

.aboutContainer{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.hidden{
    display: none;
}

.loaderContainer {
    --uib-size: 40px;
    --uib-color: rgba(66, 187, 255);
    --uib-speed: 1s;
    --uib-stroke: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    top: 250px;
    left: 270px;
    animation-duration: 15s ;
    /* border: #000 solid 2px; */
    /* padding: 30px; */
  }

  .line {
    position: absolute;
    top: 0;
    left: calc(50% - var(--uib-stroke) / 2);
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: var(--uib-stroke);
  }

  .line::before {
    content: '';
    height: 22%;
    width: 100%;
    border-radius: calc(var(--uib-stroke) / 2);
    background-color: var(--uib-color);
    animation: pulse calc(var(--uib-speed)) ease-in-out infinite;
    transition: background-color 0.3s ease;
    transform-origin: center bottom;
  }

  .line:nth-child(1) {
    transform: rotate(calc(360deg / -12 * 1));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 1);
    }
  }
  .line:nth-child(2) {
    transform: rotate(calc(360deg / -12 * 2));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 2);
    }
  }
  .line:nth-child(3) {
    transform: rotate(calc(360deg / -12 * 3));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 3);
    }
  }
  .line:nth-child(4) {
    transform: rotate(calc(360deg / -12 * 4));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 4);
    }
  }
  .line:nth-child(5) {
    transform: rotate(calc(360deg / -12 * 5));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 5);
    }
  }
  .line:nth-child(6) {
    transform: rotate(calc(360deg / -12 * 6));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 6);
    }
  }
  .line:nth-child(7) {
    transform: rotate(calc(360deg / -12 * 7));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 7);
    }
  }
  .line:nth-child(8) {
    transform: rotate(calc(360deg / -12 * 8));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 8);
    }
  }
  .line:nth-child(9) {
    transform: rotate(calc(360deg / -12 * 9));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 9);
    }
  }
  .line:nth-child(10) {
    transform: rotate(calc(360deg / -12 * 10));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 10);
    }
  }
  .line:nth-child(11) {
    transform: rotate(calc(360deg / -12 * 11));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 11);
    }
  }

  @keyframes pulse {
    0%,
    80%,
    100% {
      transform: scaleY(0.75);
      opacity: 0;
    }
    20% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

.threeDContainer{
    width: 37%;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #000; */
    display: flex;
    /* margin-top: 80px; */
}

.aboutContent{
    width: 50%;
    height: auto;
    /* border: 2px solid #000; */
    z-index: 4;
}

.aboutSlide{
    background-color: rgba(66, 187, 255, 0.5);
    border-radius: 60px;
    width: 600px;
    height: auto;
    padding: 60px;
}

.aboutHead{
    font-family: "SanFranciscoBold";
    color: #33363d;
    font-size: 28px;
    margin-bottom: 30px;
    flex-basis: 100%;
}

.aboutCaption{
    font-family: SanFranciscoRoundedMedium;
    color: #686D76;
    font-size: 20px;
    line-height: 2;
    padding-bottom: 10px;
}

.experienceContainer{
    /* border: 2px solid #000; */
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: -40px;
}

.experienceSlider{
    width: 45%;
    height: 490px;
    background-color: rgb(255, 219, 92, 0.65);
    /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
    border-radius: 60px;
    padding: 60px;
}

.expCaption{
    margin-left: 30px;
    list-style-type: disc;
    /* width: 90%; */
}

.playTimeContainer{
    margin: 70px;
}

.gameName{
    font-family: "SanFranciscoBold";
    color: #33363d;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

#playTime {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 8px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF70AB;
    border: 8px solid #FF70AB;
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
    user-select: none;
    border-radius: 20px;
    transition: 0.5s ease-out;
}

.card.matched, .card.flipped {
    background-color: #fff;
    cursor: url('./assets/images/icons8-cursor-32.png'), cell;
    transition: 0.5s ease;
    transform: rotateY(180deg);
}

.card.matched{
    border: #9BEC00 8px solid;
    transition: 0.5s ease;
}

.reset{
    border: none;
    border-radius: 26px;
    width: 130px;
    height: 46px;
    font-family: SanFranciscoRoundedMedium;
    font-size: 16px;
    color: #fff;
    cursor:  url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
    background-color: #686D76;
    margin-left: 250px;
    margin-top: 20px;
}

.referenceContainer{
    display: flex;
    margin: 0px 40px;
    width: 100%;
    height: auto;
    /* border: 2px solid #000; */
}

.skillsContainer{
    width: 25%;
    height: 650px;
    background-color: rgb(147, 118, 224, 0.8);
    /* border-radius: 60px; */
    /* padding: 60px; */
    border-top-left-radius: 60px;
    border-end-start-radius: 60px;
}

.skillHead{
    color: mintcream;
    padding: 60px 0px 0px 60px;
}

.skillList{
    color: mintcream;
    padding: 10px 10px 10px 70px;
    /* line-height: 2.5;     */
    /* border: 2px solid #fff; */
    width: 500px;
}

.certificationContainer{
    /* border: 2px solid #000; */
    width: 58%;
    height: 530px;
    border-top-right-radius: 60px;
    border-end-end-radius: 60px;
    background-color: #E5D4FF;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.certificateSlider{
    width: 85%;
    height: 450px;
    /* border: 2px solid #000; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    overflow-x: hidden;
    padding-top: 10px;
}

.certificateSlider::-webkit-scrollbar{
    display: none;
}

.certificateSlides{
    background-color: #fff;
    width: 48%;
    height: 400px;
    border-radius: 30px;
    margin-right: 30px;
    padding: 0px 30px 10px 30px;
    transition: transform 1s ease;
    flex: 0 0 auto;
    animation: scrollSlides 120s linear infinite;
}

@keyframes scrollSlides {
    0% { transform: translateX(0); }
    5.555% { transform: translateX(0); } /* 5s */
  
    6.666% { transform: translateX(-80%); }
    11.111% { transform: translateX(-80%); } /* 10s */
  
    12.222% { transform: translateX(-188%); }
    16.666% { transform: translateX(-188%); } /* 15s */
  
    17.777% { transform: translateX(-296%); }
    22.222% { transform: translateX(-296%); } /* 20s */
  
    23.333% { transform: translateX(-404%); }
    27.777% { transform: translateX(-404%); } /* 25s */
  
    28.888% { transform: translateX(-512%); }
    33.333% { transform: translateX(-512%); } /* 30s */
  
    34.444% { transform: translateX(-620%); }
    38.888% { transform: translateX(-620%); } /* 35s */
  
    40% { transform: translateX(-728%); }
    44.444% { transform: translateX(-728%); } /* 40s */
  
    45.555% { transform: translateX(-836%); }
    50% { transform: translateX(-836%); } /* 45s */
  
    51.111% { transform: translateX(-944%); }
    55.555% { transform: translateX(-944%); } /* 50s */
  
    56.666% { transform: translateX(-1052%); }
    61.111% { transform: translateX(-1052%); } /* 55s */
  
    62.222% { transform: translateX(-1160%); }
    66.666% { transform: translateX(-1160%); } /* 60s */
  
    67.777% { transform: translateX(-1268%); }
    72.222% { transform: translateX(-1268%); } /* 65s */
  
    73.333% { transform: translateX(-1376%); }
    77.777% { transform: translateX(-1376%); } /* 70s */
  
    78.888% { transform: translateX(-1484%); }
    83.333% { transform: translateX(-1484%); } /* 75s */
  
    84.444% { transform: translateX(-1592%); }
    88.888% { transform: translateX(-1592%); } /* 80s */
  
    90% { transform: translateX(-1700%); }
    94.444% { transform: translateX(-1700%); } /* 85s */
  
    95.555% { transform: translateX(-1808%); }
    99% { transform: translateX(-1808%); } /* 90s */

    100%{ transform: translateX(0%); }
  }
  

.certificateProvider{
    display: flex;
    width: auto;
    height: 60px;
    margin-left: -10px;
    padding-top: 12px;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: -10px; */
    /* border: 2px solid #000; */
}

.companyLogo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid rgb(147, 118, 224, 0.2); 
    padding: 5px;
}

.companyName{
    font-family: SanFranciscoRoundedBold;
    color: #000;
    font-size: 16px;
    line-height: 2;
    padding-bottom: 10px;
    margin: 10px 0px 0px 6px;
}

.verifiedTick{
    width: 14px;
    height: 14px;
    /* fill: dodgerblue; */
    margin: 3px;
}

.certificateImageHolder{
    width: 100%;
    height: 260px;
    /* border: 2px solid #000; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.certificateImage{
    height: 250px;
    width: 320px;
    border-radius: 10px;
    margin: 0px;
    /* border: slategray 4px double; */
}

.certificateTitleHolder{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    /* margin-right: 50px; */
    margin-bottom: 4px;
    margin-top: 10px;
}

.certificateTitle{
    font-family: SanFranciscoroundedMedium;
    padding-left: 22px;
}

.responceHolder{
    display: flex;
    width: 20%;
    height: 100%;
    /* border: #000 solid 2px; */
    margin-right: 10px;
}

.likeButton, .saveButton{
    /* visibility: hidden; */
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
    display: flex;
}

#likeIcon{
    font-size: 22px;
    /* fill: red; */
    color: red;
    /* background-color: #9BEC00; */
    /* size: 30px; */
}

#likedIcon{
    font-size: 22px;
    color: red;
    display: none;
}

#saveIcon{
    font-size: 20px;
    /* fill: red; */
    /* color: red; */
    padding-left: 4px;
}

#savedIcon{
    font-size: 20px;
    padding-left: 4px;
    display: none;
}

.certificateReferance{
    font-family: SanFranciscoRoundedMedium;
    color: #686D76;
    text-decoration: none;
    padding-left: 22px;
}

.certificateReferance:hover{
    text-decoration: underline;
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

.certificateReferance i{
    font-size: 12px;
    color: #686D76;
    /* font-weight: 900; */
    font-weight: bolder;
    padding-left: 4px;
}

.sliderDots{
    width: auto;
    height: 30px;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
    /* border: 0.2px solid rgb(147, 118, 224, 0.8); */
    transition: 1s ease-in-out;
}

.dot.active {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    /* background-color: #000; Change color to indicate active dot */
    transition: 1s ease-in-out;
}

.previousButton, .nextButton{
    width: 36px;
    height: 80px;
    background-color: transparent;
    border: none;
    margin-bottom: 40px;
    cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
}

#previousIcon, #nextIcon{
    font-size: 58px;
    color: #B2B1B9;
}

#previousButton:hover, #nextButton:hover{
    color: #fff;
    /* border: #000 2px solid; */
}

.previousOn{
    transform: translateX(108%);
    transition: 1s linear;
    background-color: #fff;
    width: 48%;
    height: 400px;
    border-radius: 30px;
    margin-right: 30px;
    padding: 0px 30px 10px 30px;
    transition: transform 1s ease;
    flex: 0 0 auto;
    animation: scrollSlides 120s linear infinite;
    
}

.nextOn{
    transform: translateX(-108%);
    transition: 1s linear;
    background-color: #fff;
    width: 48%;
    height: 400px;
    border-radius: 30px;
    margin-right: 30px;
    padding: 0px 30px 10px 30px;
    transition: transform 1s ease;
    flex: 0 0 auto;
    animation: scrollSlides 120s linear infinite;
}

.menuContainer{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    visibility: hidden;
    /* border: none; */
    border: 0px;
}

#menuIcon{
    font-size: 22px;
}

#closeIcon{
    font-size: 22px;
    display: none;
}

.mobileContainer{
    /* visibility: hidden; */
    display: none;
}

@media(max-width: 1536px){
    .name{
        font-size: 2rem;
        margin-left: 40px;
        /* border: 2px solid black; */
    }

    .otherPages{
        font-size: 22px;
        height: 28px;
    }

    .welcomeBackground{
        width: 75%;
        left: 12.5%;
    }

    .leftNameSide{
        font-size: 45px;
    }

    .rightNameSide{
        font-size: 46px;
    }
}

@media(max-width: 1280px){
    .name{
        font-size: 30px;
        margin-left: 36px;
        /* border: solid 2px #000; */
    }

    .otherPages{
        font-size: 20px;
        height: 26px;
    }

    .welcomeBackground{
        width: 77.5%;
        left: 11%;
    }

    .leftNameSide{
        font-size: 38px;
    }

    .rightNameSide{
        font-size: 39px;
    }

    .aboutContent{
       /* width: 45%; */
       margin-left: -20px;
    }

    .aboutHead{
        font-size: 27px;
    }

    .threeDContainer{
        margin-left: -20px;
    }

    .aboutCaption{
        font-size: 19px;
    }

    .experienceSlider{
        width: 42%;
    }

    .gameName{
        font-size: 27px;
    }

    #playTime {
        display: grid;
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(4, 90px);
        gap: 8px;
    }

    .reset{
        margin-left: 230px;
    }

    .certificationContainer{
        width: 60%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width: 1024px){
    .name{
        font-size: 28px;
        margin-left: 36px;
        border: 0px;
    }

    .otherPages{
        font-size: 18px;
        height: 1.5rem;
        margin-bottom: 14px !important;
    }

    .threeDContainer{
        width: 35%;
        margin-left: -50px;
    }

    .aboutContent{
        width: 45%;
        /* border: 2px solid #000; */
        /* margin-bottom: -20px; */
        height: 330px;
    }

    .aboutSlide{
        width: 500px;
        padding: 50px;
    }

    .aboutHead, .gameName{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .gameName{
        font-size: 24px;
        /* margin-bottom: 20px; */
    }

    .aboutCaption{
        font-size: 16px;
    }

    .experienceContainer{
        /* border: 2px solid #000; */
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .expCaption{
        margin-left: 15px;
    }

    .playTimeContainer{
        margin-left: 30px;
    }

    #playTime {
        display: grid;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(4, 80px);
        gap: 8px;
    }

    .reset{
        margin-left: 190px;
    }

    .skillsContainer{
        width: 30%;
    }

    .certificationContainer{
        width: 50%;
        /* padding-left: 10px; */
    }

    .certificateSlider{
        width: 80%;
    }

    .certificateSlides{
        width: 70%;
        /* margin-left: 40px; */
        animation: scrollSlides 120s linear infinite;
    }

    @keyframes scrollSlides {
        0% { transform: translateX(0); }
        5.555% { transform: translateX(0); } /* 5s */
      
        6.666% { transform: translateX(-100%); }
        11.111% { transform: translateX(-100%); } /* 10s */
      
        12.222% { transform: translateX(-210%); }
        16.666% { transform: translateX(-210%); } /* 15s */
      
        17.777% { transform: translateX(-320%); }
        22.222% { transform: translateX(-320%); } /* 20s */
      
        23.333% { transform: translateX(-430%); }
        27.777% { transform: translateX(-430%); } /* 25s */
      
        28.888% { transform: translateX(-540%); }
        33.333% { transform: translateX(-540%); } /* 30s */
      
        34.444% { transform: translateX(-650%); }
        38.888% { transform: translateX(-650%); } /* 35s */
      
        40% { transform: translateX(-760%); }
        44.444% { transform: translateX(-760%); } /* 40s */
      
        45.555% { transform: translateX(-870%); }
        50% { transform: translateX(-870%); } /* 45s */
      
        51.111% { transform: translateX(-980%); }
        55.555% { transform: translateX(-980%); } /* 50s */
      
        56.666% { transform: translateX(-1090%); }
        61.111% { transform: translateX(-1090%); } /* 55s */
      
        62.222% { transform: translateX(-1200%); }
        66.666% { transform: translateX(-1200%); } /* 60s */
      
        67.777% { transform: translateX(-1310%); }
        72.222% { transform: translateX(-1310%); } /* 65s */
      
        73.333% { transform: translateX(-1420%); }
        77.777% { transform: translateX(-1420%); } /* 70s */
      
        78.888% { transform: translateX(-1530%); }
        83.333% { transform: translateX(-1530%); } /* 75s */
      
        84.444% { transform: translateX(-1640%); }
        88.888% { transform: translateX(-1640%); } /* 80s */
      
        90% { transform: translateX(-1750%); }
        94.444% { transform: translateX(-1750%); } /* 85s */
      
        95.555% { transform: translateX(-1860%); }
        99% { transform: translateX(-1860%); } /* 90s */
    
        100%{ transform: translateX(0%); }
      }

    .certificateImage{
        height: 220px;
        width: 300px;
    }

    .nextButton, .previousButton{
        width: 26px;
    }

    #previousIcon, #nextIcon{
        font-size: 38px;
        /* color: #B2B1B9; */
    }

    .certificateTitle, .certificateReferance{
        padding-left: 6px;
    }

    .otherPages::after{
        bottom: -2px;
    }

    .leftTopContainer{
        width: 55%;
    }
}

@media(max-width: 768px){
    .menuContainer{
        visibility: visible !important;
        border: 0px;
        cursor: url('assets/images/icons8-cursor-32\ \(1\).png'), auto;
        /* margin: 0px; */
    }

    .leftTopContainer{
        width: 88% !important;
    }

    .rightTopContainer {
        width: 80px;
        overflow: hidden;
        max-height: 0;
        padding: 0 20px;
        text-align: center;
        background: rgb(255, 222, 149);
        z-index: 5 !important;
        border-radius: 16px;
        right: 30px;
        position: absolute;
        flex-direction: column;
        top: 90px;
        transition: max-height 1s ease-out, padding 1s ease-out;
    }
    
    .rightTopContainer.active {
        max-height: 100px;
        padding: 20px 20px;
    }
    

    .name{
        font-size: 26px;
        margin-left: 28px;
        /* border: 2px solid #000; */
    }

    .otherPages{
        font-size: 1rem;
        height: 1.5rem;
        margin-bottom: 14px !important;
        /* transition: ease 0.2s; */
        /* width: 100%; */
    }
    
    .otherPages::after{
        height: 2px;
    }

    .bottomContainerAnimation{
        animation: zoomInOut 1s forwards linear;
    }
    
    @keyframes zoomInOut{
        0%{transform: scale(1);}
    
        50%{transform: scale(0.99);}
    
        100%{transform: scale(1);}
    }

    .aboutContainer{
        display: block;
    }

    .threeDContainer{
        width: 100%;
        /* border: 2px solid #000; */
    }

    .loaderContainer{
        /* border: 2px solid #000; */
        left: 50%;
        transform: translateX(-50%);
    }

    .aboutContent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-left: -40px;
        margin-top: -30px;
    }

    .experienceContainer{
        display: block;
        width: 100%;
        margin-top: 60px;
    }

    .experienceSlider{
        width: 500px;
        padding: 50px;
        margin-left: 30px;
        height: auto;
    }

    .playTimeContainer{
        width: 100%;
        margin-left: 120px;
        margin-bottom: -20px;
    }

    .gameName{
        /* border: 2px solid #000; */
        width: 424px;
    }

    #playTime {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(4, 100px);
        gap: 8px;
    }

    .reset{
        margin-left: 250px;
    }

    .referenceContainer{
        display: none;
    }

    .mobileContainer{
        width: 100%;
        height: auto;
        /* border: 2px solid #000; */
        padding: 60px;
        display: block;
    }

    .skillHolderMob{
        width: 80%;
        height: auto;
        background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
        border-radius: 60px;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    .skillNameMob{
        font-family: "SanFranciscoBold";
        color: #33363d;
        font-size: 22px;
        margin-bottom: 30px;
        flex-basis: 100%;
        /* background-color: #E5D4FF; */
        padding-top: 60px;
        padding-left: 60px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }

    .certificateSlider{
        width: 85%;
        height: 450px;
        /* border: 2px solid #000; */
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        overflow-x: scroll;
        padding: 20px;
        /* padding-bottom: 50px; */
        /* justify-content: center; */
    }

    .certificateSlider::-webkit-scrollbar{
        display: inline-flex;
        /* background-color: #000; */
        height: 10px;
        
    }

    .certificateSlider::-webkit-scrollbar-thumb{
        background-color: #B2B1B9;
        border-radius: 30px;
        width: 30px;
    }

    .certificateSlides{
        background-color: #fff;
        width: 60%;
        height: 400px;
        border-radius: 30px;
        margin-right: 30px;
        padding: 0px 30px 10px 30px;
        flex: 0 0 auto;
    }

    .webDev{
        animation: 25s scroller infinite;
    }

    .singleMob{
        animation: none;
        /* margin-left: 70px; */
    }

    .projMang{
        animation: none;
    }

    @keyframes scroller{
        0%{transform: translateX(0%);}
        15%{transform: translateX(0%);}

        20%{transform: translateX(-90%);}
        35%{transform: translateX(-90%);}

        40%{transform: translateX(-190%);}
        55%{transform: translateX(-190%);}

        60%{transform: translateX(-290%);}
        75%{transform: translateX(-290%);}

        80%{transform: translateX(-390%);}
        95%{transform: translateX(-390%);}

        100%{transform: translateX(0%);}
    }

    .uiUx{
        animation: uiux 20s infinite;
    }

    .graphDesign{
        animation: graphdesign 15s infinite;
    }

    @keyframes graphdesign{
        0%{transform: translateX(0%);}
        28%{transform: translateX(0%);}

        33%{transform: translateX(-90%);}
        61%{transform: translateX(-90%);}

        66%{transform: translateX(-190%);}
        95%{transform: translateX(-190%);}

        100%{transform: translateX(0%);}
    }

    @keyframes uiux{
        0%{transform: translateX(0%);}
        20%{transform: translateX(0%);}

        25%{transform: translateX(-90%);}
        45%{transform: translateX(-90%);}

        50%{transform: translateX(-190%);}
        70%{transform: translateX(-190%);}

        75%{transform: translateX(-290%);}
        95%{transform: translateX(-290%);}

        100%{transform: translateX(0%);}
    }
}

@media(max-width: 640px){
    .aboutContent{
        width: 86%;
        margin-left: -10px;
    }

    .experienceSlider{
        width: 70%;
        margin-left: -10px;
    }

    .playTimeContainer{
        margin-left: 74px;
    }

    .gameName{
        width: 384px
    }

    #playTime{
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(4, 90px);
    }

    .reset{
        margin-left: 220px;
    }

    .certificateSlides{
        width: 70%;
    }
}

@media(max-width: 475px){
    .experienceSlider{
        width: 64%;
    }

    .playTimeContainer{
        margin-left: 14px;
    }

    .gameName{
        width: 344px
    }

    #playTime{
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(4, 80px);
    }

    .reset{
        margin-left: 200px;
    }

    .mobileContainer{
        margin-top: -30px;
        padding-left: 30px;
    }

    .skillHolderMob{
        width: 85%;
        border-radius: 40px;
        padding-right: 20px;
        padding-bottom: 30px;
        margin-left: -10px;
    }

    .skillNameMob{
        font-size: 18px;
        padding-left: 40px;
        padding-top: 40px;
        margin-bottom: 10px;
    }

    .certificateSlider{
        height: 430px;
    }

    .certificateSlides{
        width: 80%;
    }

    @media(max-width: 360px){
        .name{
            /* border: 2px solid #000; */
            font-size: 24px;
            margin-left: 10px;
        }
        
        .leftTopContainer{
            width: 280px !important;
            /* border: 2px solid #000; */
            margin: 0px;
            /* padding-right: -40px; */
        }
        
        .menuContainer{
            margin-left: 16px;
        }

        .threeDContainer{
            width: 100%;
            /* border: 2px solid #000; */
            /* margin-top: -60px; */
            /* margin-bottom:60px; */
        }

        .aboutSlide{
            margin-left: -26px;
            /* border-radius: 40px; */
        }

        .experienceSlider{
            margin-left: -33px;
        }

        .playTimeContainer{
            margin-left: -40px;
        }

        .skillHolderMob{
            margin-left: -26px;
            padding-right: 30px;
        }

        .certificateSlides{
            width: 110%;
        }

        .skillNameMob{
            line-height: 1.5;
        }
    }
}