@import "tailwindcss";

/* === Creato Display Font Family === */

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Creato";
    src: url("./assets/fonts/creato/CreatoDisplay-BoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}

@theme {
    --font-creato: Creato, "sans-serif";
}